/*Services*/
.products {
    padding: 2rem 0         ;
    text-align: center;
    .p{
        margin-bottom: 2rem;
    }
    .div{
        padding: 3rem 0;
    }
    article {
        text-align: left;
        img {
            width: 20%;
        }
        hr {
            color: $general;
        }
    }
}

/*Request*/
.request {
    background: $primary;
    color: $white;
    padding: 1rem 0;
    strong{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .p{
        margin-top: 1rem;
    }
    p {
        color: white;
    }
}

.award{
    text-align: center;
}